a:link, a:visited {
	color: black;
  text-decoration: none;
  padding: 1px 12px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  text-decoration: none;
}

.wrapper{
  background-color: lightgreen;
  margin: 0 auto 0 auto;
  height: 100%;
  width: 60%;
  padding-top: 0;
}

h1.index{
  text-align: center;
  font-family: 'Merienda', cursive;
  font-size: 10em;
  margin: 0.5em 0 0 0;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Merienda', cursive;
  font-size: 5em;
  margin: 0.5em 0 0 0;
  color: white;
}

h2 {
  font-size:1.5em;
  color:#525252;
  font-family: 'Questrial', sans-serif;
}


h3 {
  text-align: center;
	font-size: 1.6em;
  font-family: 'Questrial', sans-serif;
  color: #27ae60;
  margin: 0 0 1.5em 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background:lightgreen;
  margin: 0 auto 0 auto;
  width:100%;
  text-align:center;
}

p {
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}


.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  border: #2ecc71 2px solid;
}

.long{
  background:white;
  width: 80%;
  border-radius:6px;
  margin: 0 auto 0 auto;
  border: #2ecc71 2px solid;
  padding: 10px;
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#2ecc71;
  width: 100px;
  padding: 10%;
  color:white;
  border-radius:10%;
  border: #27ae60 1px solid;
  margin-top: 20%;
  margin-bottom: 20%;
}

/* .btn:hover{
  background:#2CC06B;
} */

.btnStore{
  background:white;
  /* width: 10em;
  height: 10em; */
  padding: 50px;
  border-radius:10%;
  border: #27ae60 1px solid;
  margin-top: 10%;
  /* text-align: center; */
}

.store a {
  vertical-align: bottom;
}

.btnStore:hover {
  color: gray;
}

.btnItem{
  background:white;
  width: 10em;
  /* height: 13em; */
  /* padding: 30%; */
  border-radius:10%;
  border: #27ae60 1px solid;
  margin-top: 15px;
  text-align: center;
  
  display: inline-block;
}



.navigation{
	font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
	font-weight: 300;
  text-align: center;
  font-size: small;
}

img {
  max-height: 20%;
  width: auto;
  float: left;
  margin: 0 auto 0 auto;
  position: relative;
}

#welcome {
  width: 70%;
}

.footer{
	clear: both;
	color:  white;
	text-align: center;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  position: relative;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  display:inline;
}

.header {
  height: 25%;
  width: 100%;
  position: relative;
}

.display {
  width: 100%;
  margin: 0 auto 0 auto;
}

/*CHECKOUT-----------------------------------------------------------------------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

* {
  box-sizing: border-box;
}

.container{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#checkout input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btnCart {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btnCart:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block !important;
  width: 22px;
  height: 23px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none !important;
  text-align: center !important;
  line-height: 23px;
}

.quantity__add {
  display: block !important;
  height: 23px;
  margin: 7px;
  background: #dee0ee;
  border-radius: 5%;
  text-decoration: none !important;
  text-align: center !important;
  line-height: 23px;
}

.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
} 
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 32px;
  height: 23px !important;
  margin: 0;
  padding: 0;
  text-align: center !important;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}